In [1]:
import pandas as pd

In [2]:
PATH_MODEL_RESULTS = "data/output/recsys-data-with-response.json"

In [3]:
df = pd.read_json(PATH_MODEL_RESULTS)
df.head()

,input,output,instruction,model_response
0,<|user_AEFIWG4CQVZRPGR473XNHIDCY4UA|>,<|item_B09QPY591F|>,"Given a user review and a set of item details,...",Item \n<|item_B079Y9Y9Y|>
1,<|user_AG3AUNM7YMLU4WHK7G5MSG5CZRRQ|>,<|item_B092ZDD2HH|>,"Given a user review and a set of item details,...",Item \n<|item_B07PY9Y8|>
2,<|user_AHEWUQN7KSNFXW7N47MS247MASQQ|>,<|item_B08TN1DZTK|>,"Given a user review and a set of item details,...",Item \n<|item_B07PY499|>
3,<|user_AGI3S2FGSZ27VUUQZKMXJLXW445A|>,<|item_B087GDM1W1|>,"Given a user review and a set of item details,...",Item \n<|item_B07PY499|>
4,<|user_AEQ2VRHBJBSUUMRDVFKPCB7MPLFQ|>,<|item_B09QRZMDHC|>,"Given a user review and a set of item details,...",Item \n<|item_B079YQ7Y499|>

In [4]:
model_response = df["model_response"].str.split("\n", n=1, expand=True)

In [6]:

df["model_response"] = model_response[1]
df_model = df[["output", "model_response"]]
df_model.head()

                output        model_response
0  <|item_B09QPY591F|>    <|item_B079Y9Y9Y|>
1  <|item_B092ZDD2HH|>     <|item_B07PY9Y8|>
2  <|item_B08TN1DZTK|>     <|item_B07PY499|>
3  <|item_B087GDM1W1|>     <|item_B07PY499|>
4  <|item_B09QRZMDHC|>  <|item_B079YQ7Y499|>

In [7]:
print("Accuracy", 100 * df_model.query("output == model_response").shape[0]/df_model.shape[0])

Accuracy 0.0

In [8]:
df_model.query("output == model_response")

Empty DataFrame
Columns: [output, model_response]
Index: []

In [9]:
df_model.tail()

                  output       model_response
199  <|item_B09P55VZFT|>    <|item_B07PY499|>
200  <|item_B08FXTQHYF|>    <|item_B079Y9Y8|>
201  <|item_B00UXG4WR8|>  <|item_B079YQY499|>
202  <|item_B0BHVBRK6H|>   <|item_B079YQ7Y8|>
203  <|item_B084H2MXY7|>    <|item_B07PY499|>